main {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#vs-screen {
    display: none;
}

/* The folowing code is for the left pokeCard mini screen */
#left-screen {
    --front-p: 17px;
    --front-n: -17px;
    --back-p: 8px;
    --back-n: -8px;
    transform: perspective(1500px) rotateY(30deg) rotateX(5deg);
    border-left: solid var(--back-p) var(--dark-poketype-color);
    border-right: solid var(--front-p) var(--light-poketype-color);
    border-bottom: solid var(--back-p) var(--dark-poketype-color);
    border-top: solid var(--front-p) var(--light-poketype-color);
    box-shadow: 
        var(--front-n) 0 var(--light-poketype-color),
        var(--front-n) var(--back-p) var(--dark-poketype-color),
        var(--front-n) var(--back-n) var(--dark-poketype-color),
        var(--back-p) var(--back-n) var(--dark-poketype-color),
        var(--back-p) var(--back-p) var(--dark-poketype-color),
        -30px var(--back-n) var(--dark-poketype-color),
        -30px var(--back-p) var(--dark-poketype-color)
    ;
}

/* The background for the pokeCards has three gradients: one for the background color, other for the shines, and a last one for the shadows and glow. */
#showroom-section {
    justify-content: end;
}

.bg-poketype {
    background:
        linear-gradient(160deg,
            rgb(255, 255, 255, 0) 40%,
            rgb(255, 255, 255, .4) 40%,
            rgb(255, 255, 255, .4) 45%,
            rgb(255, 255, 255, 0) 45%,
            rgb(255, 255, 255, 0) 50%,
            rgb(255, 255, 255, .4) 50%,
            rgb(255, 255, 255, .4) 70%,
            rgb(255, 255, 255, 0) 70%,
            transparent
        ),
        linear-gradient(120deg, 
            rgba(var(--light-poketype-color-editable), 0.3) 0%,
            rgba(var(--light-poketype-color-editable), 0) 40%,
            rgba(var(--light-poketype-color-editable), 0) 60%,
            rgba(0, 0, 0, 0.5) 100%,
            transparent
        ), 
        linear-gradient(40deg,
            var(--poketype-color-1) 20%,
            var(--poketype-color-2) 20%,
            var(--poketype-color-2) 27%,
            var(--poketype-color-3) 27%,
            var(--poketype-color-3) 30%,
            var(--poketype-color-4) 30%,
            var(--poketype-color-4) 68%,
            var(--poketype-color-3) 68%,
            var(--poketype-color-3) 70%,
            var(--poketype-color-5) 70%
        );
}

#poke-gif {
    transform: translateX(10px) translateY(-5px);
}

#poke-gif-shadow {
    filter: brightness(0) blur(2px);
    opacity: 0.5;
    transform: translateX(-3px) translateY(3px);
}

.div-poke-name {
    background: var(--light-poketype-color);
    transform: translateX(20px);
    box-shadow: -20px 7px 2px rgba(18, 18, 18, 0.5);
}

.div-name {
    font-family: var(--font-content);
    font-weight: 900;
    font-style: italic;
    border: solid 10px rgb(0, 0, 0);
    border-radius: 200px;
    padding: 5%;
    line-height: 1;
}

.font-name {
    transform: scaleY(1.3) translateX(10px);
    text-shadow: 
        4px -4px black,
        4px 4px black,
        4px 0px black,
        0px 4px black,
        0px -4px black,
        -4px 4px black,
        -4px -4px black,
        -4px 0px black,
        -10px 5px 2px rgba(18, 18, 18, .5)
    ;
}

.stats {
    background: linear-gradient(160deg,
        var(--poketype-color-4) 0%,
        var(--poketype-color-4) 40%,
        var(--poketype-color-2) 40%,
        var(--poketype-color-2) 45%,
        var(--poketype-color-4) 45%,
        var(--poketype-color-4) 50%,
        var(--poketype-color-2) 50%,
        var(--poketype-color-2) 70%,
        var(--poketype-color-4) 70%,
        var(--poketype-color-4) 100%
    );
    transform: translateX(10px);
    box-shadow: -10px 5px 2px rgb(0, 0, 0, .5);
}

.meter {
    font-size: 2vh;
    margin: 0 auto;
    border-radius: 100px;
}

.level, .stat {
   border-radius: 100px;
}

.stat {
    padding: .15rem;
}

.level {
    transition: 200ms;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* The folowing code is for the right drink-card mini screen */

#right-screen {
    --front-p: 17px;
    --front-n: -17px;
    --back-p: 8px;
    --back-n: -8px;
    transform: perspective(1500px) rotateY(-30deg) rotateX(5deg);
    border-left: solid var(--front-p) var(--light-poketype-color-2);
    border-right: solid var(--back-p) var(--dark-poketype-color-2);
    border-bottom: solid var(--back-p) var(--dark-poketype-color-2);
    border-top: solid var(--front-p) var(--light-poketype-color-2);
    box-shadow: 
        var(--front-p) 0 var(--light-poketype-color-2),
        var(--front-p) var(--back-p) var(--dark-poketype-color-2),
        var(--front-p) var(--back-n) var(--dark-poketype-color-2),
        var(--back-n) var(--back-n) var(--dark-poketype-color-2),
        var(--back-n) var(--back-p) var(--dark-poketype-color-2),
        30px var(--back-n) var(--dark-poketype-color-2),
        30px var(--back-p) var(--dark-poketype-color-2)
    ;
}

.div-drink-name {
    background: var(--light-poketype-color-2);
    transform: translateX(-20px);
    box-shadow: 20px 7px 2px rgba(18, 18, 18, 0.5);
    bottom: 10%;
}

.font-drink {
    transform: scaleY(1.3) translateX(-10px);
    text-shadow: 
        4px -4px black,
        4px 4px black,
        4px 0px black,
        0px 4px black,
        0px -4px black,
        -4px 4px black,
        -4px -4px black,
        -4px 0px black,
        10px 5px 2px rgba(18, 18, 18, .5)
    ;
}

/* The background for the pokeCards has three gradients: one for the background color, other for the shines, and a last one for the shadows and glow. */
.bg-poketype-2 {
    background:
        linear-gradient(200deg,
            rgb(255, 255, 255, 0) 40%,
            rgb(255, 255, 255, .4) 40%,
            rgb(255, 255, 255, .4) 45%,
            rgb(255, 255, 255, 0) 45%,
            rgb(255, 255, 255, 0) 50%,
            rgb(255, 255, 255, .4) 50%,
            rgb(255, 255, 255, .4) 70%,
            rgb(255, 255, 255, 0) 70%,
            transparent
        ),
        linear-gradient(220deg, 
            rgba(var(--light-poketype-color-editable-2), 0.3) 0%,
            rgba(var(--light-poketype-color-editable-2), 0) 40%,
            rgba(var(--light-poketype-color-editable-2), 0) 60%,
            rgba(0, 0, 0, 0.5) 100%,
            transparent
        ), 
        linear-gradient(320deg,
            var(--poketype-color-1-2) 20%,
            var(--poketype-color-2-2) 20%,
            var(--poketype-color-2-2) 27%,
            var(--poketype-color-3-2) 27%,
            var(--poketype-color-3-2) 30%,
            var(--poketype-color-4-2) 30%,
            var(--poketype-color-4-2) 68%,
            var(--poketype-color-3-2) 68%,
            var(--poketype-color-3-2) 70%,
            var(--poketype-color-5-2) 70%
        );
}

.drink-stats {
    transform: translateX(-10px);
    box-shadow: 10px 5px 2px rgb(0, 0, 0, .5);
    background: linear-gradient(200deg,
        var(--poketype-color-4-2) 0%,
        var(--poketype-color-4-2) 40%,
        var(--poketype-color-2-2) 40%,
        var(--poketype-color-2-2) 45%,
        var(--poketype-color-4-2) 45%,
        var(--poketype-color-4-2) 50%,
        var(--poketype-color-2-2) 50%,
        var(--poketype-color-2-2) 70%,
        var(--poketype-color-4-2) 70%,
        var(--poketype-color-4-2) 100%
    );
}

#drink-icon {
    transform: translateX(-10px) translateY(-5px);
    text-shadow: 13px 8px 2px rgba(0, 0, 0, 0.5);
}

.diff-lv { width: 20%; } .ingred { width: calc((100 / 6) * 5%); }


/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* The folowing code is for the showroom section. */

#div-options {
    display: none;
    max-height: 145px;
}

#btns-number:hover #div-options {
    display: flex;
}

.pokemon {
    transition: 1s;
    position: absolute;
}

.showroom-floor {
    z-index: -10;
    bottom: 0;
    width: 80vw;
    height: 35%;
    background: radial-gradient(
        rgb(8, 0, 28) 50%, 
        rgba(255, 255, 0, .4) 58%, 
        rgba(255, 255, 255, 0.7) 60%, 
        rgba(255, 255, 0, .5) 62%,
        rgba(255, 255, 0, 0) 70%
        );
}

.poke-fx {
    transition: 200ms;
}

.poke-img {
    transition: 200ms;
}

.poke-back-glow {
    filter: 
        drop-shadow(5px 5px 15px rgba(50, 255, 245, 0.15))
        drop-shadow(5px -5px 15px rgba(50, 255, 245, 0.15))
        drop-shadow(-5px 5px 15px rgba(50, 255, 245, 0.15))
        drop-shadow(-5px -5px 15px rgba(50, 255, 245, 0.15));
}

.selected {
    bottom: -7%;
    background: radial-gradient(
        rgba(255, 255, 255) 0%,
        rgba(0, 238, 255) 0%,
        rgba(0, 0, 0, 0) 70%
    );
}

.glow-fx {
    opacity: .9;
}

.poke-glow {
    filter: sepia() invert() brightness(400%);
    opacity: .2;
}

.glow {
    background: radial-gradient(
        ellipse,
        rgba(158, 245, 251, 0.5) 10%,
        rgba(0, 238, 255, 0.5) 30%,
        rgba(0, 0, 0, 0) 70%
    );
    bottom: -7%;
}

#btn-next:hover, #btn-back:hover {
    filter:
    drop-shadow(-1px .1px 20px rgb(204, 251, 241))
    drop-shadow(1px .1px 20px rgb(204, 251, 241))
    drop-shadow(-1px .1px 20px rgb(204, 251, 241))
    drop-shadow(1px .1px 20px rgb(204, 251, 241));
}

#btn-select:hover {
    filter:
    drop-shadow(-1px .1px 20px rgb(204, 251, 241, .5))
    drop-shadow(1px .1px 20px rgb(204, 251, 241, .5))
    drop-shadow(-1px .1px 20px rgb(204, 251, 241, .5))
    drop-shadow(1px .1px 20px rgb(204, 251, 241, .5));
}

.num-option {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

@media (min-width: 768px) {
    .div-dex:hover .booze-dex {
        display: block;
    }
}

@media (max-width: 768px) {
    .title-brand {
        text-shadow: 
            0px .7vw 0px rgb(14, 14, 131),
            0px -.7vw 0px rgb(18, 18, 185),
            .7vw .7vw 0px rgb(18, 18, 185),
            .7vw -.7vw 0px rgb(18, 18, 185),
            .7vw 0px 0px rgb(18, 18, 185),
            -.7vw 0px 0px rgb(18, 18, 185),
            -.7vw .7vw 0px rgb(18, 18, 185),
            -.7vw -.7vw 0px rgb(18, 18, 185),
            0px .7vw .6vh black,
            0px -.7vw .6vh black,
            .7vw .7vw .6vh black,
            .7vw -.7vw .6vh black,
            .7vw 0px .6vh black,
            -.7vw 0px .6vh black,
            -.7vw .7vw .6vh black,
            -.7vw -.7vw .6vh black
        ;
    }
}

@media (max-width: 1810px) {
    .div-name {
        border: solid 8px rgb(0, 0, 0);
    }
}

@media (min-width: 1810px) {
    main, .showroom-floor {
        max-width: 1810px;
        align-self: center;
    }
}

@media (min-width: 1610px) and (min-height: 952px) {
    .meter {
        font-size: 1.3rem;
    }
}

@media (min-height: 870px) {
    .stat {
        padding: 0.25rem;
    }
}

@media (max-width: 1400px) {
    .div-name {
        border: solid 6px rgb(0, 0, 0);
    }
}

#left-screen { width: 25%;}
#right-screen { width: 25%; }
#showroom-section { width: 50%; }

@media (max-aspect-ratio: 12 / 10) {
    #left-screen { width: 30%;}
    #right-screen { width: 30%; }
    #showroom-section { width: 40%; }
}

@media (min-aspect-ratio: 2.2 / 1) {
    #left-screen { width: 20%;}
    #right-screen { width: 20%; }
    #showroom-section { width: 60%; }
}

/* @media (max-height: 1000px) and (max-width: 1100px) { */
@media (max-aspect-ratio: 1 / 1) {
    main {
        flex-direction: column;
        padding-top: .5rem;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1rem;
    }

    #vs-screen {
        display: flex;
    }

    .showroom-floor, div[data-position="0"], div[data-position="1"], div[data-position="2"], div[data-position="3"], div[data-position="4"], div[data-position="5"], div[data-position="6"], div[data-position="7"], div[data-position="8"], div[data-position="9"] {
        display: none;
    }

    #showroom-section {
        width: 100%;
        justify-content: center;
    }

    #left-screen, #right-screen {
        display: none;
    }

    .btn-scroller-div {
        transform: scale(.8);
        bottom: -2%;
    }

    .num-option {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #ls-mobile-div {
        mask-image: linear-gradient(
            185deg,
            rgba(0, 0, 0, 0) 20%,
            rgba(255, 255, 255, 1) 20%
        );
        -webkit-mask-image: linear-gradient(
            185deg,
            rgba(0, 0, 0, 0) 20%,
            rgba(255, 255, 255, 1) 20%
        );
    }
    
    #rs-mobile-div {
        mask-image: linear-gradient(
            175deg,
            rgba(255, 255, 255, 1) 80%,
            rgba(255, 255, 255, 0) 80%);
        -webkit-mask-image: linear-gradient(
            175deg,
            rgba(255, 255, 255, 1) 80%,
            rgba(255, 255, 255, 0) 80%);
    }

    #left-screen-mobile {
        background: linear-gradient(
                184deg,
                rgba(255, 255, 255, 1) 21%,
                rgba(0, 0, 0, .5) 21%,
                rgba(0, 0, 0, .5) 23%,
                rgba(0, 0, 0, 0) 23%
            ),
            linear-gradient(
                175deg,
                rgba(0, 0, 0, 0) 76%,
                var(--light-poketype-color) 76%,
                var(--light-poketype-color) 80%
            ),
            radial-gradient(
                farthest-corner at 10% 10%,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.543) 100%,
                transparent
            ),
            linear-gradient(
                120deg,
                rgba(0, 0, 0, 0) 25%,
                rgba(255, 255, 255, 1) 25%,
                rgba(255, 255, 255, 1) 25.2%,
                rgba(0, 0, 0, 0) 25.2%,
                transparent
            ),
            linear-gradient(
                160deg,
                rgba(0, 0, 0, 0) 45%,
                rgba(255, 255, 255, 1) 45%,
                rgba(255, 255, 255, 1) 45.1%,
                rgba(0, 0, 0, 0) 45.1%,
                transparent
            ),
            linear-gradient(
                190deg,
                rgba(0, 0, 0, 0) 55%,
                var(--poketype-color-5) 55%,
                var(--poketype-color-5) 65%,
                rgba(0, 0, 0, 0) 65%,
                transparent
            ),
            linear-gradient(
                146deg,
                var(--poketype-color-2) 55%,
                var(--poketype-color-1) 55%,
                var(--poketype-color-1) 75%,
                var(--poketype-color-2) 75%,
                var(--poketype-color-2) 76%,
                transparent
            );
        mask-image: linear-gradient(
            176deg,
            rgba(0, 0, 0, 1) 83%,
            rgba(0, 0, 0, 0) 83%);
        -webkit-mask-image: linear-gradient(
            176deg,
            rgba(0, 0, 0, 1) 83%,
            rgba(0, 0, 0, 0) 83%);
    }
    
    #right-screen-mobile {
        background: linear-gradient(
                354.5deg,
                rgba(255, 255, 255, 1) 22.5%,
                rgba(0, 0, 0, .5) 22.5%,
                rgba(0, 0, 0, .5) 24.5%,
                rgba(0, 0, 0, 0) 24.5%
            ),
            linear-gradient(
                357deg,
                rgba(0, 0, 0, 0) 73%,
                var(--light-poketype-color-2) 73%,
                var(--light-poketype-color-2) 76%
            ),
            radial-gradient(
                farthest-corner at 90% 90%,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.543) 100%,
                transparent
            ),
            linear-gradient(
                240deg,
                rgba(0, 0, 0, 0) 25%,
                rgba(255, 255, 255, 1) 25%,
                rgba(255, 255, 255, 1) 25.2%,
                rgba(0, 0, 0, 0) 25.2%,
                transparent
            ),
            linear-gradient(
                280deg,
                rgba(0, 0, 0, 0) 45%,
                rgba(255, 255, 255, 1) 45%,
                rgba(255, 255, 255, 1) 45.1%,
                rgba(0, 0, 0, 0) 45.1%,
                transparent
            ),
            linear-gradient(
                160deg,
                rgba(0, 0, 0, 0) 55%,
                var(--poketype-color-5-2) 55%,
                var(--poketype-color-5-2) 65%,
                rgba(0, 0, 0, 0) 65%,
                transparent
            ),
            linear-gradient(
                146deg,
                var(--poketype-color-2-2) 55%,
                var(--poketype-color-1-2) 55%,
                var(--poketype-color-1-2) 75%,
                var(--poketype-color-2-2) 75%,
                var(--poketype-color-2-2) 76%,
                transparent
            );
        mask-image: linear-gradient(
            178deg,
            rgba(0, 0, 0, 0) 23%,
            rgba(0, 0, 0, 1) 23%);
        -webkit-mask-image: linear-gradient(
            178deg,
            rgba(0, 0, 0, 0) 23%,
            rgba(0, 0, 0, 1) 23%);
    }

    #showroom {
        justify-content: center;
        height: 50%;
    }

    .pokemon {
        position: relative;
    }

    .font-p-name-mobile {
        font-family: var(--font-content);
        color: white;
        text-shadow:
            .5vh 0 0 black,
            .5vh .5vh 0 black,
            .5vh -.5vh 0 black,
            -.5vh 0 0 black,
            -.5vh .5vh 0 black,
            -.5vh -.5vh 0 black,
            0 .5vh 0 black,
            0 -.5vh 0 black,
            -1.2vh -.5vh 0 rgba(70, 70, 70, 1),
            -1.2vh 0 0 rgba(70, 70, 70, 1),
            -1.2vh .5vh 0 rgba(70, 70, 70, 1)
        ;
        transform: perspective(1500px) rotateY(60deg) rotateX(10deg) rotateZ(-5deg) scale(1.5);
        margin-left: 10vw;
    }
    
    .font-poke-mobile {
        font-family: var(--font-content);
        color: var(--poketype-color-1);
        text-shadow:
            .5vh 0 0 black,
            .5vh .5vh 0 black,
            .5vh -.5vh 0 black,
            -.5vh 0 0 black,
            -.5vh .5vh 0 black,
            -.5vh -.5vh 0 black,
            0 .5vh 0 black,
            0 -.5vh 0 black,
            -1.2vh -.5vh 0 var(--poketype-color-5),
            -1.2vh 0 0 var(--poketype-color-5),
            -1.2vh .5vh 0 var(--poketype-color-5)
        ;
        transform: perspective(1500px) rotateY(60deg) rotateX(10deg) rotateZ(-5deg) scale(1.2) translateX(-30%) translateY(-70%);
        margin-left: 10vw;
    }

    #poke-gif-shadow-mobile {
        filter: grayscale() contrast(0) brightness(10%) blur(1px) opacity(.7);
        transform: translateX(8px) translateY(-5px);
    }

    .font-d-name-mobile {
        font-family: var(--font-content);
        color: white;
        text-shadow:
            .5vh 0 0 black,
            .5vh .5vh 0 black,
            .5vh -.5vh 0 black,
            -.5vh 0 0 black,
            -.5vh .5vh 0 black,
            -.5vh -.5vh 0 black,
            0 .5vh 0 black,
            0 -.5vh 0 black,
            1.2vh -.5vh 0 rgba(70, 70, 70, 1),
            1.2vh 0 0 rgba(70, 70, 70, 1),
            1.2vh .5vh 0 rgba(70, 70, 70, 1)
        ;
        line-height: 60%;
        transform: perspective(1500px) rotateY(-60deg) rotateX(-10deg) rotateZ(-5deg)  translateX(-50%) scale(1.5);
        text-align: end;
        text-wrap: nowrap;
    }
    
    .font-drink-mobile {
        font-family: var(--font-content);
        color: var(--poketype-color-2-2);
        text-shadow:
            .5vh 0 0 black,
            .5vh .5vh 0 black,
            .5vh -.5vh 0 black,
            -.5vh 0 0 black,
            -.5vh .5vh 0 black,
            -.5vh -.5vh 0 black,
            0 .5vh 0 black,
            0 -.5vh 0 black,
            1.2vh -.5vh 0 var(--poketype-color-5-2),
            1.2vh 0 0 var(--poketype-color-5-2),
            1.2vh .5vh 0 var(--poketype-color-5-2)
        ;
        transform: perspective(1500px) rotateY(-60deg) rotateX(-10deg) rotateZ(-5deg) scale(1.2) translateY(-90%) translateX(-50%);
        text-align: end;
    }

    .drink-mobile-div {
        margin-top: 6rem;
        justify-content: end;
    }
}